
<main role="main">

    <section class="jumbotron ">
      <div class="container">
        <h1 class="jumbotron-heading text-center">Register</h1>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="form-group pull-left">
              <form class="form-control"  #registerForm="ngForm" (ngSubmit)="registerSubmit(registerForm)">
                <div class="form-group">
                  <label for="signinemail">Your Name</label>
                  <input 
                    required
                    type="text" 
                    ngModel 
                    name="name" 
                    #email="ngModel" 
                    class="form-control" 
                    id="name" 
                    aria-describedby="emailHelp" 
                    placeholder="Your name please">
                </div>
  
                <div class="form-group">
                  <label for="emailpassword">Password</label>
                  <input type="password" ngModel name="password" #password="ngModel" class="form-control" id="emailpassword" placeholder="Password">
                </div>
                
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
  
                <button type="submit" class="btn btn-primary">Next</button>
              </form>
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </section>
    </main>